.formual-editor {
  margin: 10% auto;
  width: 500px;
  height: 350px;
  font-size: 12px;
  border: 1px solid rgba(52, 60, 66, 0.08);
  border-radius: 8px;
  padding: 8px;
  text-align: left;
  font-weight: 600;
  outline: none;

  .editor-head{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(52, 60, 66, 0.08);
  }

  .editor-code-box{
    border: 1px solid rgba(52, 60, 66, 0.08);
    border-radius: 8px;
    padding: 8px;
    outline: none;
    overflow: auto;
    height: calc(100% - 65px);
  }

  .function{
    color: #770088;
  }
  .bracket{
    color: #997;
  }
  .field{
    color: white;
    background-color: #178cdf;
    padding: 2px 6px;
    border-radius: 2px;
  }
  .operator{
    color: black;
  }
  .number{
    color: #164;
  }

}